body{
  font-family: "poppins", sans-serif;
  text-align: center;
  color: black;
  background-color: #ffffff;
}
#streetfood{
  background-color: #ffffff;
}
.one{
  background-color:#e5e5e5;
}
.two{
  background-color:#bfbfbf ;
}
.three{
  background-color:#FFD77C;
}
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
  padding: 12px;
}
li{
  display: inline;
  text-align: center;
}

#streeth1{
  font-size: 50px;
  line-height: 40px;


}

#streeth2{
  font-size: 30PX;
  line-height: 10px;
}
#street {
  text-align: left;
  padding: 30px;
  background-color:#e5e5e5;
  line-height: 1.6;
  
