body{
  font-family: "poppins", sans-serif;
  text-align: center;
  color: black;
  background-color: #ffffff;
}
#streetfood{
  background-color: #ffffff;
}
.one{
  background-color:#e5e5e5;
}
.two{
  background-color:#bfbfbf ;
}
.three{
  background-color:#FFD77C;
}
